* {
    color:rgb(95, 95, 72); 
    margin:0px;
    padding:0px;
    scroll-behavior:smooth;
    scroll-margin-top: 200px;
}
 a{
    text-decoration: none;
 
  
 }


  a:hover {
    color: rgb(255, 203, 253);

   }

.fuentePrincipal{ 
                  font-family: 'Chelsea Market';
}
.fuenteSecundaria{ 
                  font-family: 'Beth Ellen';

}

body{
     background-color: antiquewhite;
  
}

h1{ 
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
}
p { 
    font-size: 15px ;

}
.subtitulo{ 
    font-size: 18px;
    background-color:  rgb(216, 174, 255) ;
    padding:20px;
    margin-top: 40px;
    display: flex;
    justify-content:center;
    margin-left: 300px;
    margin-right: 300px;

}

.letraMenu{ font-size: 28px;
            list-style: none;

}

.icono { 
        font-size:38px ;
        display: flex;
        margin: 10px;
    }
.imgTS{
        width: 300px;
        height: 300px;
        border-radius: 150px;
}
.imgTS2{ width:200px;
         height: 300PX;
         border-radius: 40px;
        }

        
 .dotted{
            border-style: dotted;
            border-color:  rgb(229, 201, 255) ;
            border-width: 30px;
        }
.imgAlbum{ width: 150px;
             height: auto;
             border-radius: 30px;}
        


.dashed{
            border-style:dashed ;
            border-color:  rgb(255, 186, 253);
            border-width: 30px
        }

/*ENCABEZADO*/
.encabezadoConteiner{
                      display: flex;
                      justify-content: space-between;
}
.botonConteiner{ display: flex;
                 margin-right: 50px;
                 flex-direction: column;
                 align-items: baselin;
                 }
               
.boton { color: antiquewhite;
         border-color:rgb(95, 95, 72); ;
         border-style: solid;
         margin-right:  30px;
         background-color: black;
         width: 100px;
         height: 40px;
         padding:10px;
         border-radius:30px;
         display: flex;
}
.boton:hover{
              background-color:rgb(252, 224, 187);
              color: rgb(216, 174, 255) ;
              border-color: rgb(95, 95, 72);

}

/*BARRA NAVEGACIÓN*/


header{  
       background-color: antiquewhite;
       position: sticky;
       z-index: 1000;
       top: 0px ;
       margin-bottom: 50px;
      
     
      
   }
.menu{
      background-color:  rgb(216, 174, 255);
      display: flex;
      justify-content: center;
      
     
    
}
.menuLink{display: flex;
    justify-content: space-around;
    
   }

.menuItem{ 
               margin-left: 65px;
    margin-right: 65px;
    
   }
/*FORMULARIO*/

#form{
     margin:10px}

.estiloForm{width: 300px;
    height: 300px;
    background-color:rgb(255, 186, 253);
    padding: 20px;
   border-radius: 10px;
}
#btn{color: rgb(187, 187, 209);
}






/*CARRUSEL*/

.estiloCarrusel{
           width: 450px;
           height: 430px;
} 
.contImg { 
          display: flex;
          justify-content: center;
          }
 #carrusel {  display: flex;
              justify-content: center;
              margin-top: 60px;
            
              }

 #flecha{ 
        
        font-size: 50px;
        background-color: rgb(229, 201, 255);
        }
.oculto{display: none;}

/*PRIMERA SECCIÓN*/
.parrafoIzq{ display: flex  ;
             flex-direction: row;
             justify-content: start;
             margin-bottom: 30px;
             margin-right: 100px;
}
.izq{ 
      background-color:rgb(252, 224, 187); 
      width: 1300px;
      border-top-right-radius: 50px;
      border-bottom-right-radius:50px;
      background-color:rgb(252, 224, 187);
      width: auto;
      height: auto;
      padding: 10px;
}


.parrafoDer{ 
       display: flex  ;
       flex-direction: row;
       justify-content: end;
       margin-left: 100px;
      
}
.der{ background-color:rgb(252, 224, 187);
      width: auto;
      height: auto;
      padding: 10px;
      border-top-left-radius: 50px;
      border-bottom-left-radius:50px;
    }
/*SEGUNDA SECCIÓN*/

.quienTS{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          background-color: rgb(252, 224, 187);
          padding: 30px;
        
       margin-bottom: 40px;
}
.textoTS{
      width:500px; 
      background-color: rgb(255, 186, 253) ;
      padding: 20px;
       margin-left: 20px;
       border-bottom-right-radius: 30px;
       border-top-left-radius:30px ;}
.quienTS2{ 
           background-color: rgb(255, 186, 253); ;
}
.textoTS2{ 
             padding: 10px;  ;
             margin-left:50px;
             margin-right:50px ;

}
    
.subtitulo2{
     font-size: 20px;}


/*TERCERA SECCIÓN*/
.textoMusica{    background-color: rgb(255, 186, 253) ;
    padding: 20px;
     margin-right: 20px;
     border-bottom-right-radius: 30px;
     border-top-left-radius:30px ;
     width: auto;
     }

.album{ background-color: rgb(229, 201, 255) ;
        
        }
.al{ margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 30px;
     display: flex;
     justify-content: space-around;
     padding: 30px;}
.textoAlbum{ 
               width: 500px;
               margin: 0%;

}
/*FOOTER*/

footer h3{
           font-size:30px ;
         
        }
footer div.contacto{ 
                            font-size:30px ;
                        
                            color:rgb(252, 224, 187); 
                        }

.letraFooter{
             font-size:24px ;
             list-style: none;
            }
.contFooter{
        display: flex;
        justify-content: space-between;
        margin-left: 110px;
        margin-right: 110px;
        padding-top: 10px;
        margin-top:30px;

}

footer{ background-color: rgb(216, 174, 255) ;}
.navLink{margin-right: 50px;
        margin-left: 50px;
         display: flex;
         justify-content: space-between;
         padding-bottom: 10px;}



